<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'inline-form well span3'}) do |f| %>
  <div><%= f.label :username, :class=>'placeholder' %>
    <%= f.text_field :username, :autofocus => true, :placeholder=>'Username', :autofocus=>true %></div>
  <div><%= f.label :password, :class=>'placeholder' %>
    <%= f.password_field :password, :autofocus => true, :placeholder=>'Password' %></div>
  <% if devise_mapping.rememberable? -%>
    <div><label class="checkbox">
      <%= f.check_box :remember_me %>
      Remember me 
    </label></div>
  <% end -%>
  <div><%= f.submit "Sign in", :class=>'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
